
<h3 style="text-align: center;font-weight: bolder;">For Adding Boxes Click on Button Below</h3>
<h4>Instructions For moving box[Keyboard Event]:</h4>
<ul>
  <li>
    Press Up,Down,Left,Right arrow key on keyboard <br>
    for moving the box;
  </li>
  <li>
    For Deleting the box Press Del key on keyboard.
  </li>
</ul>
<button (click)="AddBoxes()" style="margin-top: 20px;margin-left: 400px;" type="submit">Click me</button>
<div class="Box_Rect">
  <div class="Input" id="{{this.idbox}}" style="z-index: 1;">

  </div>


</div>
